/*styling af indhold*/

/* Kontakt sektionen styles */
.kontakt { 
  text-align: center;
  margin-top: 95px;
  padding-top: 1px;
}
.kontakt-overskrift { 
text-align: center;
font-size: 2.2rem;
margin-bottom: 5px;
}

.kontakt-tekst {
text-align: center;
margin: 0% 10%;
background-color: #f9f3ef;
border-radius: 10%;
}

.kontakt {
background-image: url(/img/baggrund-illustration.svg);
background-size: cover
}

/*styling af kontakt formular*/
form { 
text-decoration: none;
color:#7f5849;
padding: 2px 10px;
font-size: 1.7rem;
border-radius: 10px;
}

.formular-knapper {
   justify-content: center;
   display: flex;
   margin-left: 95px;
   margin-right: 95px;
   margin-top: 20px;
   margin-bottom: 30px;
   }

input {
  background-color: #e9d9c3;
  color: #ef7b32;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-family: "kozuka-gothic-pro", sans-serif;
}

input:focus {
  outline: 2px solid #ef7b32;
}


textarea {
  background-color: #e9d9c3;
  color: #ef7b32;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-family: "kozuka-gothic-pro", sans-serif;
}

textarea:focus {
  outline: 2px solid #ef7b32;
}

#name{
  color: #7f5849;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 230px;
}

#email{
  color: #7f5849;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 230px;
}

#message{
  color: #7f5849;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 230px;
}

.label-send{
  text-decoration: none;
  color: #ef7b32;
  background-color:#e9d9c3;
  border-radius: 5px;
  padding: 0px 10px 5px 10px;
  font-size: 1.7rem;
  font-family: "baskerville-urw", serif;
  font-weight: 400;
  font-style: normal;
  width: 230px;
  margin-bottom: 40px;
}

.label-send:hover{
  font-size: 1.8rem
}

/*Styling af pop-up confirmation besked*/
#confirmation-message {
display: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #f9f3ef;
border: 3px solid #f8c576;
border-radius: 10px;
padding: 30px 30px;
text-align: center;
font-family: "kozuka-gothic-pro", sans-serif;
}

#close {
  position: relative;
  margin-left: 90%;
  font-size: 30px;
}



/*Styling af markedskalender*/
.markedskalender{
background-color: #f8c576;
text-align: center;
padding: 20px 20px 150px 20px;
}
.kalender{
width: 103%;
}

.markedsoverskrift {
  font-size: 1.7rem;
}
.maned {
  font-size: 1rem;
}

/* Styling af popups til markedskalender */

.kalender a.lordag{
  position: relative;
  display: block;
  margin-top: -62%;
    margin-left: 65.5%;
    width: 70px; 
    height: 70px;
}

.kalender a.onsdag{
  position: relative;
  display: block;
  margin-top: 5%;
    margin-left: 27.5%;
    width: 70px; 
    height: 70px;
}

#popup1 {
  display: none;
  position: absolute;
  padding: 5% 7%;
  margin-top: -36%;
  margin-left: 6.5%;
  background-color: #f9f3ef;
} 

#popup2 {
  display: none;
  position: absolute;
  padding: 5% 10%;
  margin-top: -34%;
  margin-left: 13.5%;
  background-color: #f9f3ef;
} 

#close1 {
  position: absolute;
  margin-left: 40%;
  margin-top: -12%;
  font-size: 40px;
}

#close1:hover,
#close1:focus {
cursor: pointer;
}

#close2 {
  position: absolute;
  margin-left: 38%;
  margin-top: -15%;
  font-size: 40px;
}

#close2:hover,
#close2:focus {
cursor: pointer;
}

  /* Styling af besøg Nr4 */

  /* Mapbox styling fra videoguide  https://docs.mapbox.com/help/tutorials/custom-markers-gl-js-video/ */
  #map-section {
    position: relative;
    height: 300px; /* Just an example height, adjust as needed */
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-top: -4px;
    width: 80%;
  }
  .marker {
    background-image: url('/img/placering.gif');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

    .mapboxgl-popup {
     max-width: 200px;
    }

    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }

.nr4 {
padding: 50px 20px 30px 20px;
text-align: center;
margin-bottom: 30px;
}

.nr4-overskrift {
margin: 0px 30px 25px 30px;
font-size: 1.7rem;
}

.nr4-tekst {
margin: 0% 10% 4% 10%;
}

.knap {
text-decoration: none;
color: #ef7b32;
background-color:#e9d9c3;
border-radius: 10px;
padding: 0px 10px 5px 10px;
font-size: 1.5rem;
}

.knap:hover{
font-size: 1.6rem;
}



/*---------------------------------*/
/* breakpoint 1 */
@media screen and (min-width: 481px) {
  .mobile-container {
    min-width: 481px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .kontakt-tekst {
    margin: 0% 20%;
  }

  .markedskalender {
    padding-bottom: 45%;
  }

  .markedsoverskrift {
    font-size: 2.2rem;
  }

  .markedstekst{
    margin: 0% 17%;
  }

  .juni {
    width: 95%;
  }

  .kalender a.lordag {
    width: 15%;
    height: 100px;
    margin-top: -58%;
  }
  
  .kalender a.onsdag{
      width: 15%; 
      height: 100px;
  }

  #popup1 {
    margin-top: -36%;
    margin-left: 20%;
  } 
  
  #popup2 {
    margin-top: -30%;
    margin-left: 25%;
  } 


}

/* --------------------------------------------- */
/* Breakpoint 2 */

@media screen and (min-width: 769px) {
  .mobile-container {
    min-width: 769px;
}

.kontakt-overskrift {
  font-size: 3rem;
}

.kontakt-tekst {
  font-size: 1.3rem;
}

input {
  font-size: 1.3rem;
}

textarea {
  font-size: 1.3rem;
}

.label-send {
  font-size: 2.2rem;
}

.label-send:hover {
  font-size: 2.3rem;
}

.markedskalender {
  padding-bottom: 27%;
}

.markedsoverskrift {
  font-size: 3rem;
}

.markedstekst {
  font-size: 1.3rem;
}

.maned {
  font-size: 1.5rem;
}

.kalender a.lordag {
  height: 170px;
}

.kalender a.onsdag{
    height: 180px;
}

#popup1 {
  margin-left: 23%;
} 

#popup1 p{
  font-size: 1.3rem;
}

#popup2 {
  margin-top: -35%;
  margin-left: 26%;
} 

#popup2 p {
  font-size: 1.3rem;
}

#close1 {
  font-size: 50px;
}

#close2 {
  font-size: 50px;
}

.nr4-overskrift {
  font-size: 2.5rem;
}
.nr4-tekst {
  font-size: 1.3rem;
}

.section-wrapper a {
  font-size: 2.2rem;
}

.section-wrapper a:hover {
  font-size: 2.3rem;
}

#map-section {
  height: 400px;
}

#map {
  width: 60%;
  margin-left: 20%;
}

}

/* -------------------------------------------- */
/* Breakpoint 3 */

@media screen and (min-width: 1025px) {
  .mobile-container {
    min-width: 1025px;
  }
  
  .kontakt-overskrift {
    font-size: 3.5rem;
  }

  /* Kontaktformularens opstilling ændres */

  .flex {
    display: flex;
  }

  .form1 {
    display: flex;
    flex-direction: column;
    margin-left: -5%;
  }

  .form2 {
    margin-left: 10%;
  }

  #message {
    padding-bottom: 21%;
    padding-right: 20%;
  }

  /* Nr4 afsnittet ændre opstilling */

  .nr4 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  #map-section {
    height: 550px;
    margin-top: 40px;
  }

  #map {
    width: 85%;
    margin-left: 10%;
  }

  .section-wrapper {
    text-align: left;
  }

  .nr4-overskrift {
    margin-left: 9.5%;
    margin-top: 5%;
    font-size: 3.3rem;
  }

  .knap {
    margin-left: 9.5%;
  }

}

/* ---------------------------------------- */
/* Breakpoint 4 */

@media screen and (min-width: 1200px) {
  .mobile-container {
    min-width: 1200px;
  }

.kontakt-tekst {
  margin: 0 25%;
}

#confirmation-message {
  font-size: 1.2rem;
}

.markedskalender {
  margin: 0 50px;
}

.kalender{
  width: 90%;
  margin: auto;
  margin-left: 7%;
}

.maned {
  font-size: 1.7rem;
}

#popup1 {
  margin-top: -25%;
}

#popup2 {
  margin-top: -25%;
}
}
