 
 /*Styling af fra-ler-til-kop-proces*/
 h1 {
 text-align: center;
 font-size: 2.2rem;  
 margin-top: 95px;
 padding-top: 30px;
 }

 .proces-o {
 text-align: center;
 font-size: 2rem;
 color: #ef7b32; 
 margin-top: -40px;
 }

 /*Styling af grid + baggrundsbillede*/

 .proces {
  background-image: url("/img/processtreg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position-y: 130px;
 }
 
 .rejsen {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 11% 13% 11% 13% 11% 14% 16% 15%;
  column-gap: 23%;
  margin-left: 7%;
  margin-right: 5%;
  margin-top: 8%;
  margin-bottom: 40%;
 }

 #tekst1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
 }

 #img1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
 }

 #tekst2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
 }

 #img2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
 }

 #tekst3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
 }

 #img3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
 }

 .proces-video1 {
  width: 140%;
  border-radius: 100%;
  margin-left: -45%;
  margin-top: -10%;
 }


 #tekst4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
 }

 #img4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 130px;
 }


 #tekst5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
 }

 #img5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  width: 130px;
 }

 #tekst6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
 }

 #img6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
 }

 .proces-video2 {
  width: 150%;
  border-radius: 100%;
  margin-left: -12%;
 }


 #tekst7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
 }

 #img7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  width: 130px;
 }


 #img8 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
  margin: auto;
  width: 80%;
  border-radius: 100%;
 }

#tekst8 {
  text-align: center;
  margin-right: -147%;
}

.rejsen p {
  background-color: #f9f3ef;
}

 /*Styling af billede gallari*/
 h2 {
 text-align: center;
 font-size: 2.2rem;
 }

 .mit-varksted {
 display: grid;
 grid-template-columns: 33% 66% ;
 grid-template-rows: 250px 167,155px 167,155px 167,155px;
 column-gap: 4%;
 row-gap: 2%;
 margin-left: 6%;
 margin-bottom: 15%;
 }

 .no1 {
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: 2;
 width: 90%;
 } 

 .no2 {
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 2;
 grid-row-end: 3;
 width: 100%;
 height: 100%;
 } 

 .no3 {
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 2;
 grid-row-end: 4;
 width: 85%;
 height: 100%;
 } 

 .no4 {
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 3;
 grid-row-end: 4;
 width: 100%;
 background-color: #e9d9c3;
 text-align: center;
 padding-bottom: 10px;
 } 

 .udvalg-o {
    text-decoration: none;
    color: #ef7b32;
    background-color: #f9f3ef;
    padding: 2px 10px;
    font-size: 1.2rem;
    border-radius: 10px;
}

 .udvalg-o:hover {
   font-size: 1.3rem;
 }

 .udvalg-t {
 margin: 0 5% 7% 5%; 
 font-size: 1rem;
 }

 .mv-tekst {
 font-size: 0.9rem;
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 10%;
 }

 .no5 {
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 4;
 grid-row-end: 5;
 width: 100%;
 } 

 .no6 {
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 4;
 grid-row-end: 5;
 width: 85%;
 } 


 /*-----------------------------------------------------------------------------*/
 /*BREAKPOINT 1*/
 @media screen and (min-width: 481px)
 
 {

 .mobile-container {
 min-width: 481px;
 }

 .proces-tekst {
  margin: 20px 35px;
 }

 .proces-img {
  margin-left: 20px;
 }

 .rejsen {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  column-gap: 26%;
  margin-bottom: 30%;
 }

 .proces-video1 {
  width: 100%;
  margin-left: -25%;
 }

 .proces-video2 {
  width: 100%;
  margin-left: -2%;
 }

 #img8 {
  width: 60%;
 }

 #tekst8 {
  margin-right: -143%;
  margin-top: 30%;
}

 }



 /*-----------------------------------------------------------------------------*/
 /*BREAKPOINT 2*/
 @media screen and (min-width: 769px)

{

 .mobile-container {
 min-width: 769px;
 }   

 /*Styling af overskrifter og brødtekst*/ 
 h1 {
 font-size: 3rem;
 }

 h2 {
 font-size: 3rem;
 }
  
 .proces-o {
 font-size: 2.6rem;
 } 

 p {
  font-size: 1.2rem;
 }

 /*Styling af Illustrationer, Motion Graphics + sektioner med tekst*/

 .proces {
  background-position-y: 180px;
 }

 .rejsen {
  grid-template-columns: 35% 35%;
  grid-template-rows: 11% 13% 11% 13% 11% 14% 16% 15%;
  column-gap: 30%;
  margin-left: 7%;
  margin-right: 5%;
}

#tekst8 {
  margin-right: -173%;
  margin-top: 40%;
}

 

 }



 /*-----------------------------------------------------------------------------*/
 /*BREAKPOINT 3*/
 @media screen and (min-width: 1026px)

 {

 .mobile-container {
 min-width: 1026px;
 }     
 
 /*Styling af overskrifter og brødtekst*/

 h1 {
 font-size: 4rem;
 }

 h2 {
 font-size: 4rem;
 }
  
 .proces-o {
 font-size: 3rem;
 }

 .proces p {
  font-size: 1.3rem;
 }


.mv-tekst {
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 20%;
 font-size: 1.2rem;
 }

 /* styling af billeder og tekst i grid*/

 
 .proces {
  background-position-y: 220px;
 }
 
 .rejsen {
  grid-template-columns: 22.5% 22.5% 10% 22.5% 22.5%;
  grid-template-rows: 10% 12% 13% 13% 11% 13% 13% 5%;
  column-gap: 0;
  margin-left: 5%;
  margin-top: 7%;
  margin-bottom: 20%;
 }

 .rejsen img {
  width: 180px;
  height: 180px;
 }

 #tekst1 {
  grid-column-start: 4;
  grid-column-end: 5;
 }

 #img1 {
  grid-column-start: 5;
  grid-column-end: 6;
 }

 #tekst2 {
  grid-column-start: 1;
  grid-column-end: 2;
 }

 #img2 {
  grid-column-start: 2;
  grid-column-end: 3;
 }

 #tekst3 {
  grid-column-start: 4;
  grid-column-end: 5;
 }

 #img3 {
  grid-column-start: 5;
  grid-column-end: 6;
 }

 .proces-video1 {
  width: 140%;
  margin-left: -15%;
 }


 #tekst4 {
  grid-column-start: 1;
  grid-column-end: 2;
 }

 #img4 {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 180px;
 }


 #tekst5 {
  grid-column-start: 4;
  grid-column-end: 5;
 }

 #img5 {
  grid-column-start: 5;
  grid-column-end: 6;
  width: 180px;
 }

 #tekst6 {
  grid-column-start: 1;
  grid-column-end: 2;
 }

 #img6 {
  grid-column-start: 2;
  grid-column-end: 3;
 }

 .proces-video2 {
  width: 150%;
  margin-left: -22%;
 }


 #tekst7 {
  grid-column-start: 4;
  grid-column-end: 5;
 }

 #img7 {
  grid-column-start: 5;
  grid-column-end: 6;
  width: 180px;
 }


 #img8 {
  grid-column-start: 2;
  grid-column-end: 5;
  width: 90%;
 }

#tekst8 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 10;
  margin-right: 0;
}


 .mit-varksted {
  display: grid;
  grid-template-columns: 40% 30% 30% ;
  grid-template-rows: 361px 298,5px 393px ;
  column-gap: 3%;
  row-gap: 2%;
  margin-right: 12%;
 }

 .no1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
} 

.no2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
} 

.no3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
} 

.no4 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
} 

.udvalg-o {
  font-size: 2.2rem;
  margin-bottom: 3%;
  margin-top: 7%;
}

.udvalg-o:hover {
  font-size: 2.3rem;
}

.udvalg-t {
  font-size: 1rem;
  margin: 0 5% 7% 5%;
}

.no5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 126%;
  margin-left: -26%;
} 

.no6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 88%;
} 

 }
