   /* Mit keramik */

   main {
    margin-top: 95px;
   }

h1 {
    text-align: center;
    font-size: 2.2rem;
    padding-top: 40px;
}

/* udvalg */

.udvalg {
    display: grid;
    grid-template-columns: 33% 66% ;
    grid-template-rows: auto 167,155px 167,155px 167,155px;
    column-gap: 4%;
    row-gap: 2%;
    margin-left: 6%;
}

.no1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 90%;
} 

.no2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
} 

.no3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 85%;
} 

.no4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    background-color: #e9d9c3;
    text-align: center;
} 

.udvalg-o {
    color: #ef7b32;
    font-size: 1.2rem;
    margin-bottom: 3%;
    margin-top: 7%;
}

.udvalg-t {
    font-size: 0.9rem;
    margin: 0 5% 7% 5%;
}

.no5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 100%;
} 

.no6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 85%;
} 

/* Farvepalette */

.farvepalette {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 16,7% 16,7% 16,7% 16,7% 16,7% 16,7% ;
    column-gap: 1%;
    row-gap: 2%;
    margin: 100px 15px 100px 15px;
}

.bla1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 130%;
    opacity: 70%;
}

.bla1:hover {
    opacity: 100%;
}

.bla2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 90%;
    opacity: 70%;
}

.bla2:hover {
    opacity: 100%;
}

.bla3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 70%;
    opacity: 70%;
    margin-top: -60px;
}

.bla3:hover {
    opacity: 100%;
}

.gron1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 90%;
    opacity: 70%;
}

.gron1:hover {
    opacity: 100%;
}

.gron2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 90%;
    opacity: 70%;
    margin-top: -90px;
}

.gron2:hover {
    opacity: 100%;
}

.gron3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    opacity: 70%;
}

.gron3:hover {
    opacity: 100%;
}

.gron4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 90%;
    opacity: 70%;
    }

.gron4:hover {
    opacity: 100%;
}

.farvetekst {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
}

.farvepalette-o {
    font-size: 2.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.farvepalette-t {
    font-size: 1.1rem;
    margin: 0 3% 0 3%;
}

.gron5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 70%;
    opacity: 70%;
    margin-left: 40px;
}

.gron5:hover {
    opacity: 100%;
}

.gron6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    width: 85%;
    opacity: 70%;
}

.gron6:hover {
    opacity: 100%;
}

.rod1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    width: 75%;
    opacity: 70%;
}

.rod1:hover {
    opacity: 100%;
}

.rod2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 90%;
    opacity: 70%;
}

.rod2:hover {
    opacity: 100%;
}

.rod3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    width: 130%;
    opacity: 70%;
    margin-left: -50px;
    margin-top: 30px;
}

.rod3:hover {
    opacity: 100%;
}

.rod4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 70%;
    opacity: 70%;
}

.rod4:hover {
    opacity: 100%;
}

/* Unikke hanke */

.unikke-hanke {
    background-color: #f8c576;
    padding: 30px 20px 30px 20px;
    text-align: center;
    margin-bottom: 30px;
}

.unikke-hanke img {
    max-width: 85%;
}

.kopper {
    display: none;
}

.unikke-o {
    font-size: 2.2rem;
    margin-top: 20px;
}

.unikke-t {
    font-size: 1.1rem;
    margin: -20px 3% 10px 3%;
}

.unikke-hanke a {
    text-decoration: none;
    color: #ef7b32;
    background-color: #f9f3ef;
    border-radius: 10px;
    padding: 0px 10px 5px 10px;
    font-size: 1.7rem;
}

.unikke-hanke a:hover {
    font-size: 1.8rem;
}


  

  /* breakpoint 649 */
  @media screen and (max-width: 649px) and (min-width: 481px) {

    .mobile-container {
        max-width: 649px;
        min-width: 481px;
    }

    .udvalg-o {
        margin-top: 10%;
        font-size: 1.5rem;
    }

    .udvalg-t {
        margin: 0 5% 7% 5%; 
        font-size: 1rem;
    }
}


  /* breakpoint 768 */
  @media screen and (max-width: 768px) and (min-width: 649px) {

    .mobile-container {
        max-width: 768px;
        min-width: 649px;
    }

    .udvalg-o {
        margin-top: 20%;
        font-size: 1.9rem;
    }

    .udvalg-t {
        margin: 0 5% 12% 5%; 
        font-size: 1.2rem;
    }

  }


/* breakpoint 768 */
@media screen and (max-width: 2300px) and (min-width: 769px) {
    .mobile-container {
        min-width: 769px;
        max-width: 2300px;
    }

    h1 {
        font-size: 3rem;
    }

    .udvalg {
        display: grid;
        grid-template-columns: 30% 30% 40% ;
        grid-template-rows: 361px 298,5px 393px ;
        column-gap: 3%;
        row-gap: 2%;
        margin-right: 12%;
    }
    
    .no1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
    } 
    
    .no2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
    } 
    
    .no3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 100%;
    } 
    
    .no4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
    } 
    
    .udvalg-o {
        font-size: 1.8rem;
        margin-bottom: 3%;
        margin-top: 7%;
    }
    
    .udvalg-t {
        font-size: 1rem;
        margin: 0 5% 7% 5%;
    }
    
    .no5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 130%;
    } 
    
    .no6 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 88%;
        margin-left: 12%;
    } 

    .farvepalette {
        display: grid;
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
        grid-template-rows: 16,7% 16,7% 16,7% 16,7% 16,7% 16,7%;
        margin: 100px 30px 100px 45px;
    }
    
    .bla1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        width: 80%;
    }
    
    .bla2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 50%;
    }
    
    .bla3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 60%;
        margin-top: 60px;
    }
    
    .gron1 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 100%;
    }
    
    .gron2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 90%;
        margin-top: 0px;
    }
    
    .gron3 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%;
    }
    
    .gron4 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 50%;
        margin-left: 60px;
        }
    
    .farvetekst {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    
    .farvepalette-o {
        margin-bottom: 10px;
        margin-top: 40px;
    }
    
    .farvepalette-t {
        margin: 0;
    }
    
    .gron5 {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
        width: 110%;
        margin-left: 10px;
        margin-top: 50px;
    }

    .gron6 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
        width: 80%;
        margin-top: -40px;
    }
    
    .rod1 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 7;
        width: 80%;
    }
    
    .rod2 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
        width: 90%;
    }
    
    .rod3 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 7;
        width: 90%;
    }

    .rod4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        width: 75%;
    }
    
    .unikke-hanke {
        padding: 100px 0;
        margin: 100px 50px;
    }

    .kop1 {
        display: none;
    }

    .kop2 {
        display: none;
    }

    .kop3 {
        display: none;
    }

    .kop4 {
        display: none;
    }

    .kopper {
        display: block;
        max-width: 95%;
        margin: auto;
    }

    .unikke-o {
        font-size: 3rem;
        margin: 40px 0 20px 0 ;
    }

    .unikke-t {
        font-size: 1.5rem;
        margin: 0 100px 40px 100px;
    }

    .unikke-hanke a {
        font-size: 2.3rem;
    }

    .unikke-hanke a:hover {
        font-size: 2.4rem;
    }



}

/* breakpoint 1200 */
@media screen and (max-width: 1200px) and (min-width: 1025px) {
    .mobile-container {
        max-width: 1200px;
        min-width: 1025px;
    }

    .udvalg-o {
        font-size: 2rem;
    }
    
    .udvalg-t {
        font-size: 1.2rem;
    }

}

/*2300*/
@media screen and (min-width: 1201px) {
    .mobile-container {
        min-width: 1201px;
    }

    h1 {
        font-size: 5rem;
    }

    .udvalg-o {
        font-size: 4em;
    }
    
    .udvalg-t {
        font-size: 1.5rem;
    }


    .farvepalette-o {
       font-size: 2.6rem;
    }
    
    .farvepalette-t {
        font-size: 1.4rem;
    }

}
