 
 /*Styling af fra-ler-til-kop-proces*/
 h1 {
 text-align: center;
 font-size: 2.2rem;  
 margin-top: 95px;
 padding-top: 30px;
 }

 .proces-o {
 text-align: center;
 font-size: 2 rem;
 color: #ef7b32; 
 margin-top: -40px;
 }

 /*Styling af grid + baggrundsbillede*/
 .rejsen {
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 grid-template-rows: auto auto;
 gap: 15px;
 background-image: url("/Programmering/img/processtreg.png");
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
 margin-left: 5%;
 margin-right: 5%;
 }

 /*Styling af tekst + illustrationer*/
 .proces-img-vis-venstre {
 display: none;
 }

 .proces-img-vis-hojre {
 display: none;
 }

 .proces-video-vis-venstre {
 display: none;
 border-radius: 100%; 
 }

 .proces-video-vis-hojre {
 display: none;
 border-radius: 100%; 
 }

 #proces-video2-vis {
 display: none;
 }

 .proces-img {
 height: 120px;
 width: 120px;
 }

 .proces-video {
 width: 100%; 
 border-radius: 100%; 
 }

 #proces-video2 {
 width: 350px;  
 }

 .proces-tekst-venstre {
 text-align:center;
 background-color: #f9f3ef;
 border-radius: 20px;
 }

 .proces-tekst-hojre {
 text-align: center;
 padding-right: 50px;
 background-color: #f9f3ef;
 border-radius: 20px;
 }

 .div-img {
 text-align: center;
 }

 .img-tekst {
 text-align: center;
 }

 /*(Styling af nederste kop + tekst)*/
 .proces-tekst-midten {
 text-align: center; 
 margin-left: 10%;
 margin-right: 10%;
 }



 /*Styling af billede gallari*/
 h2 {
 text-align: center;
 font-size: 2.2rem;
 }

 .mit-varksted {
 display: grid;
 grid-template-columns: 33% 66% ;
 grid-template-rows: auto 167,155px 167,155px 167,155px;
 column-gap: 4%;
 row-gap: 2%;
 margin-left: 6%;
 margin-bottom: 15%;
 }

 .no1 {
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: 2;
 width: 90%;
 } 

 .no2 {
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 2;
 grid-row-end: 3;
 width: 100%;
 height: 100%;
 } 

 .no3 {
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 2;
 grid-row-end: 4;
 width: 85%;
 height: 100%;
 } 

 .no4 {
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 3;
 grid-row-end: 4;
 width: 100%;
 background-color: #e9d9c3;
 text-align: center;
 } 

 .udvalg-o {
 color: #ef7b32;
 font-size: 1.5rem;
 margin-bottom: 3%;
 margin-top: 7%;
 margin-bottom: 10px;
 }

 .udvalg-t {
 margin: 0 5% 7% 5%; 
 font-size: 1rem;
 }

 .mv-tekst {
 font-size: 0.9rem;
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 20%;
 }

 .no5 {
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 4;
 grid-row-end: 5;
 width: 100%;
 } 

 .no6 {
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 4;
 grid-row-end: 5;
 width: 85%;
 } 


 /*-----------------------------------------------------------------------------*/
 /*BREAKPOINT 1*/
 @media screen and (max-width: 768px) and (min-width: 481px)
 
 {

 .mobile-container {
 max-width: 768px;
 }

 }



 /*-----------------------------------------------------------------------------*/
 /*BREAKPOINT 2*/
 @media screen and (max-width: 1025px) and (min-width: 769px)

{

 .mobile-container {
 max-width: 1025px;
 }   

 /*Styling af overskrifter og brødtekst*/ 
 h1 {
 font-size: 3rem;
 }

 h2 {
 font-size: 3rem;
 }
  
 .proces-o {
 font-size: 2.6rem;
 } 

 /*Styling af Illustrationer, Motion Graphics + sektioner med tekst*/
 .proces-video {
 width: 270px;  
 }

 #proces-video2 {
 width: 400px;
 }

 .proces-img {
 height: 140px;
 width: 140px;
 }

 .proces-tekst-venstre {
 margin-left: 20%;
 margin-right: 20%;
 }

 .proces-tekst-hojre {
 margin-left: 10%;
 margin-right: 10%;
 }

 .proces-tekst-midten {
 margin-left: 30%;
 margin-right: 30%;
 }

 }



 /*-----------------------------------------------------------------------------*/
 /*BREAKPOINT 3*/
 @media screen and (max-width: 1200px) and (min-width: 1026px)

 {

 .mobile-container {
 max-width: 1200px;
 }     
 
 /*Styling af overskrifter og brødtekst*/

 h1 {
 font-size: 4rem;
 }

 h2 {
 font-size: 4rem;
 }
  
 .proces-o {
 font-size: 3rem;
 }

 .udvalg-o {
  font-size: 2rem;
}

.mv-tekst {
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 20%;
 font-size: 1.2rem;
 }

 /* styling af billeder og tekst i grid*/

 .proces-img {
 display: none;
 }

 .proces-video {
 display: none;
 }

 .proces-img-vis-venstre {
 display: flex;
 width: 120px;
 height: 120px;
 }

 .tekst-img {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 max-width: 70%;
 }

 .proces-tekst-venstre {
 text-align: left;
 margin-right: 10px;
 }

 .proces-img-vis-hojre {
 display: flex;
 width: 120px;
 height: 120px;
 }

 .div-tekst {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 max-width: 70%;
 margin-left: 20%;
 }

 .proces-tekst-hojre {
 text-align: left;
 margin-left: 10px;
 padding-right: 0;
 }

 .proces-video-vis-venstre {
 display: flex;
 width: 60%;
 }

 .proces-video-vis-hojre {
 display: flex;
 width: 60%;
 }

 #proces-video2 {
 display: flex;
 margin-top: 50px;
 margin-right: auto;
 margin-left: auto;
 width: 50%;
 }

 .proces-tekst-midten{
 margin-left: 30%;
 margin-right: 30%;
 }

 }



 /*-----------------------------------------------------------------------------*/
 /*BREAKPOINT 4*/
 @media screen and (max-width: 1600px) and (min-width: 1201px) 

{

 .mobile-container {
 max-width: 1600px;
 }

 /*Styling af tekst*/
 h1 {
 font-size: 5rem;
 }
 
 .proces-o {
 font-size: 4rem;
 }

 h2 {
 font-size: 5rem;
 }

 .udvalg-o {
 font-size: 4rem;
 }

 .mv-tekst {
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 20%;
 font-size: 1.5rem;
 }

 /* styling af billeder og tekst i grid*/
 .proces-img-vis-venstre {
 display: flex;
 width: 120px;
 height: 120px;
 }

 .tekst-img {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 max-width: 70%;
 }

 .proces-tekst-venstre {
 text-align: left;
 margin-left: 8%;
 margin-right: 8%;
 }

 .proces-img {
 display: none;
 }

 .proces-img-vis-hojre {
 display: flex;
 width: 120px;
 height: 120px;
 }

 .div-tekst {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 max-width: 70%;
 margin-left: 20%;
 }

 .proces-tekst-hojre {
 text-align: left;
 padding-right: 0;
 margin-left: 7%;
 margin-right: 7%;
 }

 .proces-video-vis-venstre {
 display: flex;
 width: 60%;
 }

 .proces-video-vis-hojre {
 display: flex;
 width: 60%;
 }

 .proces-video {
 display: none;
 }

 #proces-video2 {
 display: flex;
 margin-top: 50px;
 margin-right: auto;
 margin-left: auto;
 width: 50%;
 }

 .proces-tekst-midten{
 margin-left: 38%;
 margin-right: 38%;
 }

 }


 @media screen and (max-width: 2300px) and (min-width: 1601px){
    .mobile-container {
      min-width: 1601px;
      max-width: 2300px;
      width: 100%;
    }
  
 }